<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo.png" alt="Logo" width="53" height="46" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active mx-4" aria-current="page" href="#">Lato 2025</a>
        <a class="nav-link mx-4" href="#">Swetry</a>
        <a class="nav-link mx-4" href="#">Bluzki</a>
        <a class="nav-link mx-4" href="#">Gacie</a>
      </div>
    </div>
    <span class="navbar-text mr-3">
      <button class="btn">
        Twoja torba
      <i class="bi bi-bag"></i>
      </button>
    </span>
  </div>
</nav>
