<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" alt="Logo" width="53" height="46" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-4" *ngFor="let cat of mainCategories">
          <a class="nav-link" [routerLink]="['/oferta', cat.routeName]">{{cat.name}}</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu">Wszystkie Kategorie</a>
        </li>
      </ul>
      <span class="navbar-text">
        <button class="btn">
        Twoja torba
      <i class="bi bi-bag"></i>
      </button>
      </span>
    </div>
  </div>
</nav>
