.add-height {
  height: 3rem
}
.register-column {
  background-image: url('../../assets/images/register_bg.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  min-height: 100%;
  height: 26rem;
}
