<div class="elevated position-fixed top-0 end-0 p-3" style="z-index: 11" #toast>
  <div
    [ngClass]="(toast.show ? 'show' : '') + ' toast hide align-items-center text-white bg-' + toast.variant + ' border-0 mb-1'"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    *ngFor="let toast of toastsArray"
    >
    <div class="d-flex">
      <div class="toast-body">
        <div [innerHTML]=toast.message></div>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
