<div class="container mt-2">
  <footer class="py-5">
    <div class="row">
      <div class="col-md-5 offset-md-1 mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img src="assets/images/logo.png" alt="Logo" width="106" height="92" class="d-inline-block align-text-top">
          <span class="text-muted">© 2015</span>
        </a>
      </div>
      <div class="col-6 col-md-2 mb-3 d-none d-md-block">
      </div>
      <div class="col-6 col-md-2 mb-3">
        <h5>Kategorie</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Sweterki</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Bluzki</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Gacie</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-2 mb-3">
        <h5>Informacje</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2" *ngIf="!isAuth"><a routerLink="/login" class="nav-link p-0 text-muted">Zaloguj się</a></li>
          <li class="nav-item mb-2" *ngIf="isAuth"><a href="#" (click)="handleLogout()" class="nav-link p-0 text-muted">Wyloguj się</a></li>
          <li class="nav-item mb-2" *ngIf="isAuth"><a [routerLink]="['account', 'orders']" class="nav-link p-0 text-muted">Twoje zamówienia</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Kontakt</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Regulamin</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">RODO</a></li>
        </ul>
      </div>
    </div>
    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <p>© 2015 Glamlove</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis text-muted" href="https://www.facebook.com/GlamLovePL/?locale=pl_PL" target="_blank"><i class="bi bi-facebook"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis text-muted" href="https://www.instagram.com/glamlove_pl/" target="_blank"><i class="bi bi-instagram"></i></a></li>
      </ul>
    </div>
  </footer>
</div>
