$theme-colors: (
  "primary": #B49FB2,
  "dark": #70656f,
  "danger": #c26e6e,
  "secondary": #ece3ec
);
$primary: #b693b4;
$component-active-bg: #e1cbe1;
$form-label-margin-bottom: 0.05rem !default;
.text-help {
  font-size: 0.8rem;
  font-weight: 300;
  color: #B49FB2;
}
.pointer {
  cursor: pointer;
}
.input-search-results {
  z-index: 1100;
  position: absolute;
  width: 95%
}
.btn-round {
  border-radius: 20% !important;
}
