$theme-colors: (
  "primary": #B49FB2,
  "dark": #70656f,
  "danger": #c26e6e,
  "secondary": #ece3ec
);
$primary: #b693b4;
$component-active-bg: #e1cbe1;
$form-label-margin-bottom: 0.05rem !default;
$my-primary: #B49FB2;
$my-accent: #70656f;
$my-danger: #c26e6e;
.text-help {
  font-size: 0.8rem;
  font-weight: 300;
  color: #B49FB2;
}
.pointer {
  cursor: pointer;
}
.input-search-results {
  z-index: 1100;
  position: absolute;
  width: 37%
}
.btn-round {
  border-radius: 20% !important;
}
.color-presentation-box {
  width: 1.5rem;
  height: 0.7rem;
  display: inline-block;
  margin-right: 10px;
}
