$theme-colors: (
  "primary": #B49FB2,
  "dark": #70656f,
  "danger": #c26e6e,
  "secondary": #ece3ec
);
$form-label-margin-bottom: 0.05rem !default;
.text-help {
  font-size: 0.8rem;
  font-weight: 300;
  color: #B49FB2;
}
.pointer {
  cursor: pointer;
}
