<div>
  <h1>Panel obsługi sklepu</h1>
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/panel']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/panel', 'categories']" routerLinkActive="active">Kategorie</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/panel', 'products']" routerLinkActive="active">Produkty</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
