<div class="modal fade" id="productWhs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="productWhs" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ editedProduct?.name }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeModal></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger alert-dismissible" role="alert" *ngIf="errorMessage">   <div>{{errorMessage}}</div>   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
        <div class="alert alert-primary alert-dismissible" role="alert" *ngIf="successMessage">   <div>{{successMessage}}</div>   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
        <div class="text-center p-3" *ngIf="isLoadingForm">
          <div class="spinner-border text-primary m-5" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <div *ngIf="!isLoadingForm && currentMode === 'summary'">
          <p class="lead">Stan magazynu</p>
          <button class="btn btn-primary btn-sm" (click)="currentMode = 'new'">Nowe SKU <i class="bi bi-plus"></i></button>
          <div class="table-responsive-lg table-responsive-md table-responsive-sm">
          <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">SKU</th>
                <th scope="col">Rozmiar</th>
                <th scope="col">Kolor</th>
                <th scope="col">Cena</th>
                <th scope="col">Rabat %</th>
                <th scope="col">Promowany</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of loadedItems">
                <tr class="pointer table-row-action" (click)="handleSelectItemSelection(item)" [ngClass]="{'table-row-selected': selectedItem === item}">
                  <td>
                    <i class="bi bi-database-slash icon-small text-danger" *ngIf="item.availableQuantity === 0"></i>
                    <i class="bi bi-moon-stars-fill icon-small text-primary" *ngIf="item.availableQuantity > 0 && item.status === 'HIDDEN'"></i>
                  </td>
                  <th scope="row">{{item.serialNumber}}</th>
                  <td>{{item.size ? item.size.sizeValue : ''}}</td>
                  <td>
                    <div class="color-presentation-box" [ngStyle]="{'background-color': item.color!.colorValue}" *ngIf="!!item.color"></div> {{item.color ? item.color.colorName : ''}}
                  </td>
                  <td>
                    <span
                      [ngStyle]="{'text-decoration': item.price!.currentDiscount > 0 ? 'line-through' : ''}"
                      [ngClass]="{'fw-bold': item.price!.currentDiscount === 0}"
                    >
                      PLN {{item.price!.grossBasePrice}}&nbsp;
                    </span><br/>
                    <span *ngIf="item.price!.currentDiscount > 0" class="fw-bolder">
                      PLN {{item.price!.grossDiscountPrice}}
                    </span>
                  </td>
                  <td>{{item.price!.currentDiscount}}%</td>
                  <td>
                    <div class="d-flex justify-content-center align-items-center"><h2><i class="bi bi-check-lg text-primary" *ngIf="item.isPromoted"></i></h2></div>
                  </td>
                </tr>
                <tr *ngIf="selectedItem === item">
                  <td colspan="12">
                    <table class="table mb-0">
                      <tr>
                        <td *ngIf="skuRemovalMode">
                          <div class="row">
                            <div class="col d-flex justify-content-center align-items-center">
                              <p><strong>Czy na pewno chcesz usunąć powyższe SKU?</strong></p>
                            </div>
                            <div class="row">
                              <div class="col d-flex justify-content-center align-items-center">
                                <button type="button" class="btn btn-lg btn-danger me-1 ms-1" (click)="performSkuRemoval(item)"><i class="bi bi-trash"></i> Usuwam!</button>
                                <button type="button" class="btn btn-lg btn-secondary me-1 ms-1" (click)="skuRemovalMode = false"><i class="bi bi-arrow-left-circle"></i></button>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td *ngIf="!skuRemovalMode">
                          <div class="row">
                            <div class="col col-6">
                              <i class="bi bi-house-heart icon-medium me-1"></i>
                              <i class="bi bi-database-exclamation ms-2 text-danger icon-small" *ngIf="item.availableQuantity === 0"></i>
                              <i class="bi bi-percent ms-2 text-primary icon-small" *ngIf="item.price!.currentDiscount > 0"></i>
                              <i class="bi bi-megaphone-fill ms-2 text-primary icon-small" *ngIf="item.isPromoted"></i>
                            </div>
                            <div class="col col-6">
                              <div class="d-flex justify-content-end align-items-end">
                                <div class="ms-2 me-2" *ngIf="newQty !== undefined && newQty >= 0">
                                  <form>
                                    <label for="addQty" class="form-label">{{newQtyModeStorno ? 'Rejestruj storno ilości' : 'Dodaj ilość do magazynu'}}</label>
                                    <input
                                      class="form-control form-control-sm mb-2"
                                      pattern="[0-9]*"
                                      type="number"
                                      id="addQty"
                                      min="1" [(ngModel)]="newQty" [ngModelOptions]="{standalone: true}"
                                      [max]="newQtyModeStorno ? item.availableQuantity : ''"
                                    >
                                    <button type="button" class="btn btn-sm btn-secondary ms-1" (click)="newQty = undefined">Rezygnuję</button>
                                    <button type="submit" class="btn btn-sm btn-primary" [disabled]="newQty < 1 || newQtyModeStorno && newQty > selectedItem.availableQuantity" (click)="handleAddRemoveStock()">{{newQtyModeStorno ? 'Storno' : 'Dodaj' }}</button>
                                  </form>
                                </div>
                                <div class="ms-2 me-2" *ngIf="newPrice !== undefined && newPrice >= 0">
                                  <form>
                                    <label for="addPrice" class="form-label">Cena bazowa brutto</label>
                                    <input class="form-control form-control-sm mb-2" pattern="[0-9]*" inputmode="decimal" type="number" step="0.01" id="addPrice" min="1" [(ngModel)]="newPrice" [ngModelOptions]="{standalone: true}">
                                    <label for="addPrice" class="form-label">Rabat %</label>
                                    <input class="form-control form-control-sm mb-2" pattern="[0-9]*" type="number" id="addDiscount" min="1" [(ngModel)]="newDiscount" [ngModelOptions]="{standalone: true}">
                                    <button type="submit" class="btn btn-sm btn-primary" [disabled]="newPrice < 0.01 || newDiscount < 0 || newDiscount > 99" (click)="handleAddPrice()">Zmień</button>
                                    <button type="button" class="btn btn-sm btn-secondary ms-1" (click)="newPrice = undefined">Rezygnuję</button>
                                  </form>
                                </div>
                                <div class="dropdown" *ngIf="newQty === undefined && newPrice == undefined">
                                  <button class="btn bn-sm btn-link" type="button" data-bs-toggle="dropdown"><i class="bi bi-three-dots text-lg-primary"></i></button>
                                  <ul class="dropdown-menu dropdown-menu-sm-end">
                                      <li><a class="dropdown-item" href="#" (click)="showNewQtyForm(false, $event)"><i class="bi bi-arrow-90deg-down me-2"></i>Przyjmij do magazynu</a></li>
                                      <li><a class="dropdown-item" href="#" (click)="showNewQtyForm(true, $event)"><i class="bi bi-box-arrow-left me-2"></i>Zarejestruj storno</a></li>
                                      <li><a class="dropdown-item" href="#" (click)="handlePromote(true, $event)" *ngIf="!selectedItem.isPromoted"><i class="bi bi-megaphone me-2"></i>Promuj na stronie</a></li>
                                      <li><a class="dropdown-item" href="#" (click)="handlePromote(false, $event)" *ngIf="selectedItem.isPromoted"><i class="bi bi-sign-stop me-2"></i>Zakończ promowanie</a></li>
                                      <li><a class="dropdown-item" href="#" (click)="showNewPriceForm($event)"><i class="bi bi-percent me-2"></i>Edytuj cenę i rabat</a></li>
                                      <li *ngIf="item.status === 'ACTIVE'"><a class="dropdown-item" href="#" (click)="handleHideItem(item, $event)"><i class="bi bi-moon-stars me-2"></i>Ukryj</a></li>
                                      <li *ngIf="item.status === 'HIDDEN'"><a class="dropdown-item" href="#" (click)="handleActivateItem(item, $event)"><i class="bi bi-patch-check-fill text-success me-2"></i>Opublikuj</a></li>
                                      <li *ngIf="item.status === 'HIDDEN'"><a class="dropdown-item text-danger" href="#" (click)="handleDeleteItem(item, $event)"><i class="bi bi-x me-2"></i>Usuń</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col col-6 col-md-4">
                              Ilość w sklepie
                            </div>
                            <div class="col col-6 col-md-2 justify-content-end align-items-center">
                              <strong>{{item.availableQuantity}}</strong>
                            </div>
                            <div class="col col-6 col-md-4">
                              Ilość w koszykach
                            </div>
                            <div class="col col-6 col-md-2">
                              <strong>{{item.inBasketQuantity}}</strong>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col col-6 col-md-4">
                              Ilość zamówiona
                            </div>
                            <div class="col col-6 col-md-2">
                              <strong>{{item.orderedQuantity}}</strong>
                            </div>
                            <div class="col col-6 col-md-4">
                              Ilość sprzedana
                            </div>
                            <div class="col col-6 col-md-2">
                              <strong>{{item.soldQuantity}}</strong>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          </div>
        </div>
        <div *ngIf="!isLoadingForm && currentMode === 'new'">
          <p class="lead">Nowe SKU</p>
          <div class="container">
            <div class="row">
              <div class="col col-12 col-lg-7">
                <form [formGroup]="newSkuForm">
                  <div class="row mb-3">
                    <label for="inputSku" class="col-form-label-sm ps-0">Numer SKU (kod kreskowy)</label>
                    <div class="row align-items-center pe-0">
                      <div class="col-6 col-sm-7 col-lg-8 ps-0 d-flex">
                        <input
                          formControlName="sku"
                          type="text"
                          maxlength="13"
                          pattern="[0-9]*"
                          class="form-control form-control-sm"
                          id="inputSku"
                        >
                      </div>
                      <div class="col-6 col-sm-5 col-lg-4 justify-content-end me-0 d-flex">
                        <button class="btn btn-sm btn-link me-0 ms-0" type="button" (click)="handleGenerateEan13()">Generuj nowy</button>
                      </div>
                    </div>
                    <label for="inputColor" class="col-form-label-sm ps-0 mt-1">Kolor</label>
                    <div class="row align-items-center pe-0">
                      <div class="col ps-0">
                        <input
                          type="search"
                          formControlName="color"
                          placeholder="Wyszukaj istniejący..."
                          class="form-control form-control-sm"
                          id="inputColor"
                          autocomplete="do-not-autofill"
                          spellcheck="false"
                          autocapitalize="off"
                        >
                        <div class="col list-group input-search-results" *ngIf="foundColors.length > 0">
                          <div *ngFor="let color of foundColors" class="list-group-item list-group-item-action" [id]="color.id" (click)="handleColorChoice(color, $event)">
                            <div class="color-presentation-box" [ngStyle]="{'background-color': color.colorValue}"></div>{{color.colorName}}
                          </div>
                        </div>
                      </div>
                      <div class="col-1 justify-content-end me-0">
                        <button class="btn btn-outline-primary btn-sm" type="button" (click)="handleChooseColor()" [disabled]="currentNewFormMode !== ''"><i class="bi bi-plus-circle-dotted"></i></button>
                      </div>
                    </div>
                    <label for="inputSize" class="col-form-label-sm ps-0 mt-1">Rozmiar</label>
                    <div class="row align-items-center pe-0">
                      <div class="col ps-0">
                        <input
                          type="search"
                          formControlName="size"
                          placeholder="Wyszukaj istniejący..."
                          class="form-control form-control-sm"
                          id="inputSize"
                          autocomplete="do-not-autofill"
                          spellcheck="false"
                          autocapitalize="off"
                        >
                        <div class="col list-group input-search-results" *ngIf="foundSizes.length > 0">
                          <a href="#" class="list-group-item list-group-item-action" *ngFor="let size of foundSizes" [id]="size.id" (click)="handleSizeChoice(size, $event)">{{size.sizeValue}}</a>
                        </div>
                      </div>
                      <div class="col-1 justify-content-end me-0">
                        <button class="btn btn-outline-primary btn-sm" type="button" (click)="handleChooseSize()" [disabled]="currentNewFormMode !== ''"><i class="bi bi-plus-circle-dotted"></i></button>
                      </div>
                    </div>
                    <label for="inputQty" class="col-form-label-sm ps-0 mt-1">Ilość w magazynie</label>
                    <input formControlName="qty" type="number" min="0" step="1" pattern="[0-9]*" placeholder="szt." class="form-control form-control-sm" id="inputQty">
                    <label for="inputPrice" class="col-form-label-sm ps-0 mt-1">Cena bazowa brutto</label>
                    <input formControlName="price" type="number" min="0" placeholder="PLN" step="0.01" pattern="[0-9]*" inputmode="decimal" class="form-control form-control-sm" id="inputPrice">
                    <label for="inputDiscount" class="col-form-label-sm ps-0 mt-1">Rabat</label>
                    <input formControlName="discount" type="number" min="0" placeholder="%" step="1" pattern="[0-9]*" class="form-control form-control-sm" id="inputDiscount">
                    <div class="form-check form-switch mt-3">
                      <input formControlName="promoted" class="form-check-input" type="checkbox" role="switch" id="inputPromo">
                      <label class="form-check-label" for="inputPromo">Produkt promowany</label>
                    </div>
                  </div>
                </form>
                <mat-divider class="d-block d-lg-none mt-4 mb-3"></mat-divider>
              </div>
              <div class="col-1 d-none d-lg-block">
                <mat-divider [vertical]="true" style="height: 470px"></mat-divider>
              </div>
              <div class="col-12 col-md ms-2 mt-0" *ngIf="currentNewFormMode === 'size'">
                <form [formGroup]="newSizeForm" (ngSubmit)="handleNewSizeSelected()">
                  <label for="inputSizeName" class="form-label">Nazwij nowy rozmiar (np. XS, 32 etc.)</label>
                  <input formControlName="name" type="text" class="form-control mb-2" id="inputSizeName" title="Wybierz rozmiar">
                  <div class="d-flex justify-content-end align-items-end mt-3">
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="returnToProductSummary()"><i class="bi bi-x-circle-fill"></i></button>
                    <button type="submit" class="btn btn-sm btn-outline-primary ms-1" [disabled]="!newSizeForm.valid">Wybierz <i class="bi bi-palette"></i></button>
                  </div>
                </form>
              </div>
              <div class="col-12 col-md ms-2 mt-0" *ngIf="currentNewFormMode === 'color'">
                <form [formGroup]="newColorForm" (ngSubmit)="handleNewColorSelected()">
                  <label for="inputColorValue" class="form-label">Wybierz kolor </label>
                  <input
                    formControlName="value" type="color" class="form-control form-control-color mb-2" id="inputColorValue" title="Wybierz kolor">
                  <label for="inputColorName" class="form-label">Nadaj nazwę </label>
                  <input formControlName="name" class="form-control form-control-sm" id="inputColorName"/>
                  <div class="d-flex justify-content-end align-items-end mt-3">
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="returnToProductSummary()"><i class="bi bi-x-circle-fill"></i></button>
                    <button type="submit" class="btn btn-sm btn-outline-primary ms-1" [disabled]="!newColorForm.valid">Wybierz <i class="bi bi-palette"></i></button>
                  </div>
                </form>
              </div>
              <div class="col-12 col-md ms-2" *ngIf="currentNewFormMode === ''">
                <app-glam-image class="img-fluid" [picture]="editedProduct!.mainPicture!" *ngIf="editedProduct?.mainPicture"></app-glam-image>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" *ngIf="currentMode === 'new'">
        <button type="button" class="btn btn-secondary" [disabled]="isLoadingForm" (click)="currentMode = 'summary'">Anuluj</button>
        <button type="button" class="btn btn-primary" (click)="handleSaveNewSku()" [disabled]="!newSkuForm.valid || isLoadingForm">Zapisz <i class="bi bi-check"></i></button>
      </div>
    </div>
  </div>
</div>
